<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OrigamiAcademy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1136FADF1DA42B4600B86782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1136FAF61DA42B4700B86782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1136FB011DA42B4700B86782</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
